.form-control { background-color: rgba(255, 255, 255, 0.8); }

.alert:before { font-weight: 500; font-size: 1.5em; }
.alert.alert-success:before { content: "Great success!"; color: rgba(60, 118, 61, 0.4); }
.alert.alert-danger:before { content: "Oh, snap!"; color: rgba(169, 68, 66, 0.4); }

body { padding-bottom: 50px; }

.container { width: 700px; }

#navbar-top { border: 0; margin-bottom: 0; -webkit-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.5); }
#navbar-top .navbar-brand { color: #333; }

#content { padding: 20px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05), -2px 2px 5px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05), -2px 2px 5px 0 rgba(0, 0, 0, 0.05); box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05), -2px 2px 5px 0 rgba(0, 0, 0, 0.05); }
#content #nav-main { margin-bottom: 20px; }

#navbar-bottom { min-height: 0; border: 0; }
#navbar-bottom p { text-align: center; margin: 3px; float: none; }

#navbar-top, #content, #navbar-bottom { background-color: rgba(255, 255, 255, 0.5); }

#navbar-top, #navbar-bottom { border-radius: 0; }
