.container {
    width: 700px;
}

.alert:before {
    font-weight: 500;
    font-size: 1.5em;
}

.alert.alert-success:before {
    content: "Great success!";
    color: rgba(60, 118, 61, 0.4);
}

.alert.alert-danger:before {
    content: "Oh, snap!";
    color: rgba(169, 68, 66, 0.4);
}