.alert:before {
    font-weight: bold;
    font-size: 1.5em;
}

.alert.alert-success {
    content: "Great success!";
    color: rgba(60, 118, 61, 0.5);
}

.alert.alert-danger {
    content: "Houston, we've got a problem.";
    color: rgba(169, 68, 66, 0.5);
}